form {
	margin-left: 20px;
}

.error {
	padding: 5px;
	background: rgba(255, 0, 0, 0.7);
}

ul {
	list-style-type: none;
	cursor: pointer;
}

ol {
	cursor: pointer;
	line-height: 2em;
}

h3 {
	margin-left: 10px;
}
